<html>

<body>
<a href="/main">Go to Main page</a>
<h4>CAFE</h4>

<div>
    <form method="post"  >
        <input type="text" name="nameCafe" placeholder="Enter the name of the cafe">
        <input type="text" name="address" placeholder="Enter address the cafe">
        <input type="text" name="phone" placeholder="Enter phone">

        <button type="submit">Add Cafe</button>
    </form>
</div>

<form method="get"  action="/cafe">
    <input type="text" name="filter" value="{{filter}}" placeholder="nameCafe "/>
    <button type="submit">Find cafe by name</button>
</form>

<form method="get" action="/deleteCafe">
    <input type="" name="cafeId" placeholder="Enter cafeId " >
    <button type="submit">Delete cafe by Id</button>
</form>


<h3><div>List of cafe</div></h3>
<h5><div>CafeId <> NameCafe <> AddressCafe <> PhoneCafe</div></h5>
{{#cafes}}
    <div>
        <b>{{cafeId}}</b><>
        <span>{{nameCafe}}</span><>
        <span>{{address}}</span><>
        <span>{{phone}}</span>
    </div>

{{/cafes}}

</body>
</html>
