<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Hello, user</div>
<a href="/customer">Customer</a>< >
<a href="/worker">Worker</a>< >
<a href="/main">Admin</a>

</body>
</html>