<html>

<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sign Out"/>
</form>
<a href="/main">Go to Main page</a>
<h4>MAIN PAGE</h4>
<a href="/pizza">Pizza page</a>
<a href="/cafe">Cafe page</a>
<a href="/registration">Registration page</a>
<a href="/login">Login page</a>
<a href="/user">userList page</a>
<a href="/user">userEdit page</a>



<form method="get"  action="/cafe">
    <input type="text" name="filter" value="{{filter}}" placeholder="Enter nameCafe"/>
    <button type="submit">Find cafe by name</button>
</form>
<div>List of cafe</div>
{{#cafes}}
    <div>
        <b>{{cafeId}}</b>
        <span>{{nameCafe}}</span>
        <span>{{address}}</span>
        <span>{{phone}}</span>
    </div>

{{/cafes}}


<form method="get"  action="/main">
    <input type="text" name="filter" value="{{filter}}" placeholder="Enter pizzaName"/>
    <button type="submit">Find pizza by name</button>
</form>
<div>List of pizza</div>
{{#pizzas}}
    <div>
        <b>{{id}}</b>
        <span>{{pizzaName}}</span>
        <span>{{size}}</span>
        <span>{{description}}</span>
    </div>

{{/pizzas}}
</body>
</html>
