<html>

<body>
<form action="/logout" method="post">

    <input type="submit" value="Sign Out"/>
</form>
<!--<a href="/main">Go to Main page</a>-->
<h4>MAIN PAGE</h4>


<a href="/pizzaOrder">Order page</a>
<a href="/pizza">Pizza page</a>
<a href="/cafe">Cafe page</a>
<a href="/registration">Registration page</a>
<a href="/login">Login page</a>
<a href="/user">userList page</a>



</body>
</html>
