<html>

<body>
<a href="/main">Go to Main page</a>
<h4>ORDER</h4>
<h6><div>Attention!</div></h6>
{{#message}}
    {{message}}
{{/message}}
<div>
    <form method="post"  >
        <input type="text" name="nameCustomer" placeholder="Enter nameCustomer">
        <input type="text" name="addressDelivery" placeholder="Enter address">
        <input type="text" name="phoneCustomer" placeholder="Enter phone">
        <input type="" name="id" placeholder="Enter pizzaId">
        <button type="submit">Add Order</button>
    </form>
</div>

<form method="get"  action="/pizzaOrder">
    <input type="text" name="filter" value="{{filter}}" placeholder="nameCustomer "/>
    <button type="submit">Find orders by nameCustomer</button>
</form>



<form method="get" action="/deleteOrder">
    <input type="text" name="order_id" placeholder="Enter  orderId " >
    <button type="submit">Delete order by Id</button>
</form>

<h3><div>List of Orders</div></h3>
<h5><div>OrderId NameCustomer AddressDelivery Phone PizzaIdInCafe PizzaName</div></h5>
{{#pizzaOrders}}
    <div>
        <b>{{order_id}}</b>
        <span>{{nameCustomer}}</span>
        <strong>{{addressDelivery}}</strong>
        <span>{{phoneCustomer}}</span>
        <strong>{{getPizzaId}}</strong>
        <span>{{getPizzaName}}</span>

    </div>

{{/pizzaOrders}}
<h3><div>List of pizza</div></h3>
<h5><div>PizzaId PizzaName Size Description Price CafeId</div></h5>
{{#pizzas}}
    <div>
        <b>{{id}}</b>
        <span>{{pizzaName}}</span>
        <strong>{{size}}</strong>
        <span>{{description}}</span>
        <span>{{price}}</span>
        <strong>{{getCafeId}}</strong>
    </div>

{{/pizzas}}

<h3><div>List of cafe</div></h3>
<h5><div>CafeId NameCafe AddressCafe PhoneCafe</div></h5>
{{#cafes}}
    <div>
        <b>{{cafeId}}</b>
        <strong>{{nameCafe}}</strong>
        <span>{{address}}</span>
        <strong>{{phone}}</strong>
    </div>

{{/cafes}}

</body>
</html>
