<!DOCTYPE html>
<body>
<a href="/main">Go to Main page</a>

<h4>Edit of Users</h4>

<form method="post"  >
<input type="text" name="username" value="{{user.username}}">

<input type="text" name="userId" value="{{user.id}}"/>

<button type="submit">Save</button>
</form>
<h4>List of Users</h4>
{{#users}}
    <div>
        <b>{{user_id}}</b>
        <span>{{username}}</span>
        <span>{{password}}</span>
        <span>{{active}}</span>
    </div>

{{/users}}

</body>
</html>