<!DOCTYPE html>
<body>
<a href="/main">Go to Main page</a>

<h4>Edit of Users</h4>
todo
<form method="post">
    <input type="text" name="userId" value="{{user.user_id}}" placeholder="Enter userId"/>
    <input type="text" name="username" value="{{user.username}}" placeholder="Enter username">
    <input type="text" name="password" value="{{user.password}}" placeholder="Enter password"/>

    <input type="text" name="active" value="{{user.active}}" placeholder="Enter activity(true/false)"/>
    <button type="submit">Save</button>
</form>
<!--<h4> Users</h4>-->
<!--{{#users}}-->
<!--    <div>-->
<!--        <b>{{user_id}}</b>-->
<!--        <span>{{username}}</span>-->
<!--        <span>{{password}}</span>-->
<!--        <span>{{active}}</span>-->
<!--    </div>-->

<!--{{/users}}-->

</body>
</html>