<!DOCTYPE html>
<html lang="en">
<h4>WORKER</h4>


<body>
<form action="/logout" method="post">

    <input type="submit" value="Sign Out"/>
</form>

<a href="/pizza">Pizza page</a><>
<a href="/pizzaOrder">Order page</a><>
</body>
</html>